# Bunker — requirements
# generated 2026-05-24

# --- core ---
fastapi
uvicorn
pydantic
httpx

# --- bot ---
aiogram==3.28.2

# --- services ---
schedule

# --- shared ---
loguru
python-dotenv
watchfiles
